*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
}
.header{
    display: flex;
    gap: 30%;
    height: 10vh;
    align-items: center;
    margin-left: 20vw;
}
.section{
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
    margin-left: 20vw;
}
.section h1{
    color: crimson;
}
button{
    cursor:pointer;
    height:35% ;
    width:90px;
    font-size: large;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 18px;
}

#gappara span{
    margin-left: 20px;
}

.App {
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

.light {
    background-color: white;
}

.dark {
    background-color: black;
    color: white;
}
